* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: grid;
  grid-template-areas: 
    "header header" 
    "conteudo conteudo"
    "footer footer"
  ;
}

#cabecalho {
  background-color: red;
  grid-area: header;
  width: 100%;
  height: 10vh;
}

#conteudo {
  background-color: #343434;
  color: #ecf0f1;
  grid-area: conteudo;
  display: grid;
  grid-template-columns: 4fr 1fr;
  width: 100%;
  height: 80vh;
  padding: 10px;
}

#conteudo .principal {
  background-color: #ecf0f1;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-rows: repeat(2, 1fr); */
  grid-column-gap: 5px;
  grid-row-gap: 0px;
  width: 80%;
  padding: 0px;
  justify-self: center;
}

#conteudo .principal div {
  background-color: orange;
  /* grid-column: 3fr; */
}

#footer {
  background-color: green;
  grid-area: footer;
  width: 100%;
  height: 10vh;
}